<div class="container">
  
            <h3>This is a heading</h3>
            <input type="text" [(ngModel)]="name">
            <p> here is your paragraph. {{ name }} is typing somthing... </p>
            <br>
            <hr>
            <b>here we are going to add server module.</b>
            <app-server></app-server>

            <hr>
            <b>here we are going to add window module.</b>
            <app-window></app-window>

            <hr>
            <b>here we are going to add servers module.</b>
            <app-servers></app-servers>

        
</div>